</div>
</div>
</section>
        <!-- //blog content-->

        <!-- nam content-->
        <section id="nam" class="page_section" style="display:none;" data-stellar-background-ratio="0.5">
            <!-- section header -->
            <div class="container">
                <div class="nam_block">Nam malesuada, massa sit amet consectetur</br>scelerisque, erat est suscipit tellus, sed ullamcorper ligula justo id</br>justo. In vitae tortor dapibus, aliquet nulla</div>
            </div>
            <!-- //section header -->
            <div class="nam_fill"></div>
        </section>
        <!-- //nam content-->
        <!-- Contact content -->
        <section id="contact" class="page_section">
            <div class="container">
                <h2>Contacts</h2>

                <div class="row">
                    <div class="span6">
                        <!-- contact form -->
                        <div class="contact_form">
                            <div id="note"></div>
                            <div id="fields">
                                <form id="ajax-contact-form" action="">
                                    <input class="input_wt" type="text" name="name" value="Name" onFocus="if (this.value == 'Name') this.value = '';" onBlur="if (this.value == '') this.value = 'Name';" />
                                    <input class="input_wt last" type="text" name="phone" value="Phone" onFocus="if (this.value == 'Phone') this.value = '';" onBlur="if (this.value == '') this.value = 'Phone';" />
                                    <textarea class="input_wt" name="message" id="message" onFocus="if (this.value == 'Message') this.value = '';" onBlur="if (this.value == '') this.value = 'Message';">Message</textarea>
                                    <input type="submit" class="contact_btn" value="" />
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                        <!-- //contact form -->
                    </div>
                    <div class="span6">
                        <div id="map">
                            <iframe width="100%" height="243" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=london&sll=37.0625,-95.677068&sspn=42.631141,90.263672&ie=UTF8&hq=&hnear=London,+United+Kingdom&ll=51.500141,-0.126257&spn=0.026448,0.039396&z=14&output=embed"></iframe>
                        </div>
                        <p>Nunc commodo ligula vitae rutrum imperdiet. Aliquam adipiscing vestibulum nunc id sagittis. Aenean interdum, turpis at imperdiet ullamcorper, libero orci interdum massa, sed dignissim ante est vitae eros. Sed sit amet sapien pretium, varius libero</p>
                        <div class="contact_info">
                            <div class="i5">24 Fifth st.New York City, United States</div>
                        </div>
                        <div class="contact_info">
                            <div class="i6">+1 959 603 6035</div>
                        </div>
                        <div class="contact_info">
                            <div class="i7">
                                <a href="mailto:williamkrueger@sitename.com" alt="">williamkrueger@sitename.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- //section content -->
        </section>
        <!-- //contact content -->

        <!--footer-->
        <div class="footer">
            <!-- footer_bottom -->
            <div class="footer_bottom container">
                <div class="fleft copyright">Expert &copy; 2020 |
                    <a href="javascript:void(0);">Privacy Policy</a>
                </div>
                <a href="#home" class="fright down_btn"></a>
                <div class="clear"></div>
            </div>
            <!-- //footer_bottom -->
        </div>
        <!--//footer-->
    </div>
    <!-- end #page -->
    <header class="fixed-menu"></header>
</body>

</html>
